{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4">

      <img src="https://banner2.kisspng.com/20180414/hrq/kisspng-mobile-app-development-user-marketing-iphone-instagram-5ad2c1acdf1638.1348808715237615809138.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="" height="50%" width="50%">
        <h3 style="color:grey;">Sign up to see photos and videos from your friends</h3>
    </div>
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}