{% extends 'base.html'%}{% load staticfiles %} 

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {% block content %} {{ block.super }}
<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-4">
        {% for up in images %}

        <div class="panel" style="width:500px">
        
            <div class="card-header" style="padding:20px; ">
            <a href="/profile"> {{ up.name}}</a>
        </div>
        <br>
            <img src="{{up.image.url}}" alt="Image" style="height:400px; width:500px">

<hr>


            <span>Posted {{up.pub_date|timesince}} ago </span>
          
        </div>
        <br><br><br>
        {% endfor %}
    </div>
    <div class="col-md-6"></div>
</div>
</div>
{% endblock %}