
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">

{% extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {% block content %}

<div class="container">

  <div class="row">
    {% if searched_users %}
    <h1 class="text-center">Found {{searched_users|length}} related searches for {{message}}</h1>
    {% else %}
      <h2> There are no related users </h2>
    {% endif %}

  </div>

  <div class="row">

  {% for user in searched_users %}
<div class="row">
    <a href="/profiles/{{user.id}}" >
  <h1 class="text-left">{{user.username}}</h1></a>
  <img  src="{{user.profile.pro_photo.url}}"  alt="" style="border-radius:100px;height:250px;width:250px;">

   </div>



  {% endfor %}
  
  </div>
</div>
{% endblock %}