{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load bootstrap4 %} {% block styles %} {% bootstrap_css %}
{% endblock %}



      {% block content %}

<body>
    
    <div class="container">
    <div class="row">
        <div class="col-md-4"></div>
  <div class="col-md-4">
     
    <h3 class="text-center">Sign up</h3>
    {% if form.errors %}
    <p style="color:red;"> Something is wrong </p>
  {% endif %}
          <form method="post" class="text-center">
                {% csrf_token %}
                {% form form=form %}{% endform %}
            <p>
              {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
              {% endif %} {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
            
            <button class="waves-effect waves-light btn modal-trigger" type="submit">Sign up</button>
            
              <p class="forgot">Already have an account? <a href="/accounts/login">Login</a></p>
            
          </form>
        </div>
        </div>
    </div>
</body>

<style>
  /* @media screen and (max-width: 1280px) {
    body {

       font-size: 50px;
    }
    
  } */
</style>

{% endblock %}