{% extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %} {{form.media}} {% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">

        <form  action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
          {%csrf_token%}
          {% bootstrap_form form%}
          <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}{% endblock %}
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"></div>
  </div>
</div>

{% endblock %}